.logo {
  font-size: 4.5em;
}

.guess {
  color: white;
}

.the {
  color: yellow;
}

.word {
  color: rgb(255, 255, 255);
}

.button {
  outline: 0;
  transition: ease-in all 300ms;
}

.button:hover {
  color: white;
  scale: 110%;
}